.AdminDashbord-Container {
    width: 100%;
    height: 100vh;
    background-color: #efefef;
    display: flex;

}
.admin-sidebar {
    width: 20%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.span-box a {
    text-decoration: none;
    color: black;
}
.span-box {
    width: 70%;
    height: 2.6rem;
    background-color: #961e5052;
    border-radius: 0.2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.AdminSidebar-container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.span-box:hover {
    background-color:#961E51 ;
}
.span-box:focus {
    background-color: #961E51;
}
.admin-post {
    width: 80%;
    height: 100vh;
    background-color: #961E51;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-around;
}
.admin-post-container{
    width: 70%;
    height: 70%;
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.post-btn-container {
    width: 90%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.next-btn  {
    width: 20%;
    height: 18%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-btn {
    width: 20%;
    height: 18%;
    margin: 1rem;
}
.btn-select {
    width: 100%;
    height: 100%;
}
.post-img {
    width: 46%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn-post-all {
    padding: 0.4rem;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.profil-admin {
    width: 100%;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    font-weight: bold;
}