.SinglePage-Navbar {
    width: 100%;
    height: 5.0rem;
}
.property-details {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.property-details img {
    width: 100%;
    height: 100%;

}
.Slider-- {
    width: 100%;
    height: 100%;
}
.property-details div {
    position: absolute;
    background-color: #0CB9CC;
    padding: 1.5rem;
    color: #961E51;
    margin-right: 1.5rem;
    margin-bottom: 0.4rem;
}
.SinglePage-Container {
    width: 100%;
    height: 150vh;
    background: #e4e4e4 ;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.SinglePage-ImageShow {
    width: 90%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.SinglePage-Info {
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    overflow: hidden;
}
.SinglePage-Price {
    width: 17%;
    height: 6%;
    background-color: #0CB9CC;
    position: absolute;
    margin-top: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 131, 0);
}
.Info-1 {
    width: 69%;
    height:100%;
    display: flex;
    justify-content: space-between;
}
.Info-2 {
    width: 30%;
    height: 100%;
    background-color: #0CB9CC;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.build-info {
    width: 38%;
    height: 100%;
    background-color: #0CB9CC;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.build-description {
    width: 60%;
    height:100%;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    
}
.info-room {
    width: 60%;
    height: 15%;
    display: flex;
    justify-content: center;
    justify-content:space-around;
    border-left: 1px solid #961E51;
}
.info-room-text-- {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-room-icons {
    color: #961E51;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.description-title {
    width:60%;
    height: 12%;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.description-title span {
    width: 20%;
    height: 5%;
    background-color: #961E51;
}
.description-text {
    width:80%;
    height: 65%;
    text-align: center;
    padding: 1rem;
}
.other-houses {
    width: 97%;
    height: 30%;
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    
}
.other-houses-img {
    width: 40%;
    height: 90%;
    border-radius: 0.3rem;
    overflow: hidden;
}
.other-houses-img img {
    width: 100%;
    height: 100%;
}
.other-houses-text {
    width: 50%;
    height: 95%;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;align-items: center;
    flex-direction: column;

}
.houses-text-location {
    width: 90%;
    height: 30%;
    color: slategrey;
}
.houses-text-price {
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.text-price-- {
    width: 70%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    color: rgb(0, 131, 0);
}
.text-price-icon {
    width: 25%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    background-color: #961E51;
    cursor: pointer;
}
.Footer-Container--- {
    width: 100%;
    height: 50vh;
    margin-top: 2rem;
    
}
.text-price-link {
    text-decoration: none;
}